<p id="notice"><%= notice %></p>

<h1>Edition Types</h1>
<% if @elements.empty? %>
  <p><strong>No Edition Types</strong></p>
<% end %>

<!-- <h4>Export Edition Types</h4>
<p>
  Download:
  <%#= link_to "CSV", edition_types_path(format: "csv") %> |
  <%#= link_to "Excel", edition_types_path(format: "xls") %>
</p> -->

<!-- <h4>Import Item Types</h4>
<%#= form_tag import_edition_types_path, multipart: true do %>
  <%#= file_field_tag :file %>
  <%#= submit_tag "Import" %>
<%# end %> -->

<table class="table table-striped">
  <thead>
    <th>Edition Types</th>
  </thead>
  <tbody>
    <%= render @edition_types.all %>
  <tbody>
</table>

<br>

<%= link_to 'New Edition Type', new_edition_type_path %>
