<p id="notice"><%= notice %></p>

<p>
  <strong>Field Names:</strong>
  <%= @element_field.name %>
</p>

<%= link_to 'Edit', edit_element_field_path(@element_field) %> |
<%= link_to 'Back', element_fields_path %>
